/*
CSS for the example component.

Since CSS uses a global name space for classes we use a naming convention that includes the
React application and the component in the class name.  The hope is any other stylesheets
you use won't conflict with these names.
*/
.example-code {
  font-family: Courier New, monospace;
  line-height: 1.3;
  padding: 20px;
  display: inline-block;
  box-sizing: border-box;
  background: #f4f4f4;
  width: 100%;
  overflow-x: auto;
}

.example-output {
  padding: 10px;
  border: 1px dashed #722b00;
  display: inline-block;
  box-sizing: border-box;
}

.code-name {
  font-family: Courier New, monospace;
}

.motto-update {
  border-radius: 1px;
  margin: auto;
  padding: 1em;
  text-align: left;
  background-color: #f0f4f1;
}

.motto-input{
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: 1em;
  width: 20em;
  text-align: left;
  background-color: #f4f4f4;
  font-style: italic;
  margin: 3px;
}